<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title> 
  <!-- map -->
   <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"></script> 
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- javascript -->
  <script src="script.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- img widget -->
  <script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
  UPLOADCARE_PUBLIC_KEY = process.env.PHOTO;
</script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <!-- Here's where you put all your navigation -->
      <div class="container">
            <div class="navbar-brand"  <a href="#">LOGO</a></div>
                <ul class= "nav navbar-nav navbar-right">
                    <li><a href="/posts">Home</a></li>
                    <li><a href="/users">My Profile</a></li>
                    <li><a href="#">Message</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
  </nav>
      