<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title> 
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!-- javascript -->
  <script src="/script.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- img widget -->
  <script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
  UPLOADCARE_PUBLIC_KEY = "7c0f0c7a35e580848d4e";
</script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-custom">   
    <!-- Here's where you put all your navigation -->
      <div class="container">
            <div class="navbar-brand" <a href="#"><img src="/img/meownow.png"></a></div>
                <ul class= "nav navbar-nav navbar-right">
                    
                    <% if (currentUser) {%> 
                    <li class="prof"><a href="/users/<%= currentUser.id %>">
                    <img class="img-circle" src="<%= currentUser.photo %>"alt="profile" width="50" height="50">
                    <%= currentUser.username %> </a></li>
                    <li class="top"><a href="/posts">HOME</a></li>
                    <!-- <li class="top"><a href="#">MESSAGE</a></li> -->
                    <li class="top"><a href="/users">USERS</a></li>
                    <li class="top"><a href="/logout">LOG OUT</a></li>
                    <%}%>
                </ul>
            </div>
      </div>
  </nav>
      