.post_image {
  margin: 0 auto;
  display: table;
  width: 100%;
  max-width: 400px;
}
.profile_image {
  margin: 0 auto;
  display: table;
  width: 100%;
  max-width: 250px;
}

.space{
  padding:5px;
}
.comment{
  display: inline-block;
  padding-top: 5px;
}
/*.img-circle{
  padding-top: 5px;
  box-sizing: content-box;
}*/
.comment_image {
  margin: 0 auto;
  display: table;
  width: 100%;
  max-width: 250px;
}
.button{
  padding-top: 14px; 
 /* padding-left: 5px;*/
}
.right{
  text-align: right;
  /*color: #337ab7;*/
  color: #A5A5A5;
}
.left{
  text-align: left;
}
.h{
  /*font-style: italic;*/
  color: #9AA2FF;
  /*a:hover:#9AA2FF;*/
}
nav{
  height: 130px;
}
/*h5{
  padding-left:22px;
}*/
/*.navbar-default{
  
}*/
ul li a{
  color: black;
  font-size: 18px;
  color: white;
  /*font-weight: bolder;*/
}
.navbar-custom {
    /*background-color:#229922;*/
    color:#ffffff;
    border-radius:0;
    background-color: #9AA2FF;
}
/* a : link { 
    background-color: yellow;
}*/
}
li{
  padding: 5px;
  list-style: inline;
  font-size: 20px;

}
.top{
  padding-top: 30px;
  font-size: 16px;
  color: white;
}
.prof{
  padding-top: 16px;
  color: white;
  
}
.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.description{
  font-size: 15px;
  font-weight: bold;
  line-height: 8px;
}
.value{
  font-size: 15px;
  line-height: 30px;
}
ul li{
    list-style-type: none;
}
/*STYLING FOR SOCKET MESS*/
/** { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }*/
