<% include ../partials/header %>
<!-- Load the Facebook JavaScript SDK -->
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/all.js"></script>
    
    <script type="text/javascript">
      
      // Initialize the Facebook JavaScript SDK
      FB.init({
        appId: '815761801886143',
        xfbml: true,
        status: true,
        cookie: true,
      });
      
      // Check if the current user is logged in and has authorized the app
      FB.getLoginStatus(checkLoginStatus);
      
      // Login in the current user via Facebook and ask for email permission
      function authUser() {
        FB.login(checkLoginStatus, {scope:'email'});
      }
      
      // Check the result of the user status and display login button if necessary
      function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
          alert('User is authorized');
          
          // Hide the login button
          document.getElementById('loginButton').style.display = 'none';
          
          // Now Personalize the User Experience
          console.log('Access Token: ' + response.authResponse.accessToken);
        } else {
          alert('User is not authorized');
          
          // Display the login button
          document.getElementById('loginButton').style.display = 'block';
        }
      }
    </script>
    
    <input id="loginButton" type="button" value="Login!" onclick="authUser();" />
  </body>
<!-- <h2>REDDIT CLONE</h2> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-offset-4">
      <form method="POST" action="/login">
        <div class="form-group">
            <h1>Login</h1>
          <label for="email"> Email:</label>
          <input type="text" id="email" name="user[email]" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <label for="password"> Password:</label>
          <input type="password" id="password" name="user[password]" class="form-control">
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
      </form>
      <a href="/signup">Don't have an account? Sign up here</a>
    </div>
  </div>
</div>


<% include ../partials/footer %>