<% include ../partials/header %>

  
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-offset-4">
      <form method="POST" action="/login">
        <div class="form-group">
            <h1>Login</h1>
          <label for="email"> Email:</label>
          <input type="text" id="email" name="user[email]" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <label for="password"> Password:</label>
          <input type="password" id="password" name="user[password]" class="form-control">
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
      </form>
      <a href="/signup">Don't have an account? Sign up here</a>
    </div>
  </div>
</div>


<% include ../partials/footer %>